body{
    font-family: 'PT Serif', serif !important;
}
.bg-yellow{
    background-color: #FFC017;
}
.border-bottom-dark{
    border-bottom: solid 1px rgba(41, 41, 41, 1);
}
.btn-border-radius{
    border-radius: 99em;
}
.aside-buttons > li {
    margin-bottom: 10px;
}